
*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    color: #fff;
    display: flex;
    width: 100%;
    height: 700px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url('images/triveni-main-banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
header .bg{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    /* border: 1px solid yellowgreen; */
}
nav {
    width: 60%;
    height: 100px; 
    /* border: 1px solid red; */
}
nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul li  {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
}
.red{
    font-size: 25px;
    font-family: cursive;
    color: red;
}
.textbox{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.textbox .p2{
    width: 100%;
    height: 100px;
    /* border: 1px solid yellow; */
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    text-align: center;
}
.textbox .p1{
    width: 100%;
    height: 100px;
    /* border: 1px solid yellow; */
    font-size: 42px;
    text-align: center;
}
.section1{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    background-color: #BDE2DB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 .section1div1{
    width: 50%;
    height: 100px;
    /* border: 1px solid rebeccapurple; */
}
.section1 .section1div1 p{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: center;

}
.section2{
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section2 .imges1{
    width: 71%;
    height: 100px;
    /* border: 1px solid yellowgreen; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section2 .imges1 img{
    width: 18%;
    height: 50px;
}
.section3{
    width: 100%;
    height: 300vh;
    background-color: #CED6D8;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section3 .s3div1{
    width: 80%;
    height: 150vh;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.section3 .s3div1 .s3div2{
    width: 50%;
    height: 120vh;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.section3 .s3div1 .s3div2 img{
    height: 100%;
    width: 100%;
}
.section3 .s3div1 .textbox{
    width:45%;
    height: 120vh;
    display: flex;
    justify-content: space-evenly;
}
.section3 .s3div1 .textbox p{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
.section4{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4 .section4div1{
    width: 80%;
    height: 450px;
    /* border: 1px solid red;    */
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: space-between;
}
.section4 .section4div1 p{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}
.section4 .section4div1 a{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: black;
}
.section4 .section4div1 .menu {
    width: 25%;
    height: 75%;
    /* border: 1px solid black; */
}
.section4 .section4div1 .menu img{
    width: 100%;
    height: 100%;
}
.section5{
    width: 100%;
    height: 140vh;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.section5 .subimg{
    width: 50%;
    height: 70vh;
    /* border: 1px solid black; */
    display: flex;
}
.section5 .subimg img{
    width: 100%;
    height: 100%;
}
.section6{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    background-color: #BDE2DB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section6 .section6div1{
    width: 59.5%;
    height: 100px;
    /* border: 1px solid rebeccapurple; */
}
.section6 .section6div1 p{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: center;
}
.section7{
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;

    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.section7 .section7div1{
    width: 80%;
    height: 400px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.section7 .section7div1 p{
    font-family: 'Lato', sans-serif;
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 40px;
}
.section7 .section7div1 .halfimg{
    width: 18%;
    height:300px;
    /* border: 1px solid blue; */
    /* background-color: #C9E5DF; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section7 .section7div1 .halfimg img{
    width: 100%;
    height: 70%;
}
.section7 .section7div1 .halfimg .name{
    width: 80%;
    height: 20%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #C9E5DF;

}
.section7 .section7div1 .halfimg .name h4{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.section7 .section7div1 .halfimg .name .p1{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

footer{
/* border: 1px solid blue; */
width: 100%;
height: 350px;
display: flex;  
justify-content: space-around;
align-items: center;
background-color: #FBF5F2;
}
.row {
/* border: 1px solid black; */
display: flex;
width: 90%;
height: 200px;
}
.h1text{
/* border: 1px solid black; */
height: 200px;
width: 80%;
display: flex;
font-size: 20px;
}
.h2text{
height: 60px;
}
.row-item2 {
width: 20%;
/* border: 1px solid black; */
color: crimson;
}
.fp2{
font-size: 20px;
color: black;
line-height: 20px;
}
.fa-brands{
font-size: 20px;
padding-top: 20px;
padding-left: 10px;
}
.h3text{
height: 60px;
}
.row-item3 {
width: 29%;
/* border: 1px solid black; */
color: crimson;
}
.fp23{
color: black;
font-size: 20px;
}
.h1text{
text-align: center;
color: crimson;
}
.h4text{
color: crimson;
height: 60px;
}
.f34{
font-size: 20px;
color: black;
height: 80px;
}
.row-item4 {
width: 24%;
height: 250px;
/* border: 1px solid black; */
color: crimson;
}
input{
width: 100%;
height: 50px;
border-radius: 50px;
}
button{
margin-top: 10px;
width: 100%;
height: 50px;
border-radius: 50px;
background-color: crimson;
color: white;
}